/*
#1 = a80c00
#2 = 7F0120
*/
a {
	color: #a80c00;
}
a:hover {
	color: #7F0120;
}

/* menu */
.nav>li>a:hover {
	color: #7F0120;
}

.navbar .navbar-nav > .active > a {
	color: #7F0120;
}

/* flexslider */
.flex-control-paging li a {
	background: #a80c00;
}

.flex-direction-nav a:hover{
	background-color:#a80c00;
}

.testimonial span.author a {
	color: #7F0120;
}

/* --- icon box hover --- */
.hi-icon-effect-5 .hi-icon {
	color: #a80c00;
	box-shadow: 0 0 0 4px #a80c00;
}
.no-touch .hi-icon-effect-5 .hi-icon:hover {
	background: #a80c00;
	box-shadow: 0 0 0 8px  #7F0120;
}


/* portfolio */
.portfolio-item .portfolio-desc {
	background: #a80c00;
}

/* btn */
.btn-theme {
  background: #A80C00;
}
.btn-theme:hover,.btn-theme:focus,.btn-theme:active{
  background: #a80c00;
}
.btn-cta,.btn-cta.btn-lg {
  background: #a80c00;
  border-color: #7F0120;
}

.btn-cta:focus,.btn-cta:active{
   border-color: #a80c00;
}

/* contact */
.validation {
	color:#a80c00;
}

/* footer */
.social-circle li a {
	background:#a80c00;
}

a.scrollup{
	background:#a80c00;
}